.navbar-brand {
    color: white;
}

.my-logo-igt {
    color: #DAA316;
}

.nav-link {
    color: white;
}

.me-auto {
    margin-right: 0;
}

.navbar-collapse {
    flex-grow: 0.3;
}

.nav-link .active .home-igt {
    color: #DAA316;
}